<a href="https://colab.research.google.com/github/HelmutMadeiro/EstatisticaComR/blob/main/Curso_de_Estat%C3%ADstica_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
# <font color=green size=10>CURSO DE ESTATÍSTICA - PARTE 1</font>
***

# <font color=green>1 CONHECENDO OS DADOS</font>
***

## <font color=green>1.1 Dataset do projeto</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

### Variáveis utilizadas

> ### Renda
> ***

Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.

> ### Idade
> ***

Idade do morador na data de referência em anos.

> ### Altura (elaboração própria)
> ***

Altura do morador em metros.

> ### UF
> ***

|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

> ### Sexo	
> ***

|Código|Descrição|
|---|---|
|0|Masculino|
|1|Feminino|

> ### Anos de Estudo
> ***

|Código|Descrição|
|---|---|
|1|Sem instrução e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|Não determinados| 
||Não aplicável|

> ### Cor
> ***

|Código|Descrição|
|---|---|
|0|Indígena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declaração|

#### <font color='red'>Observação</font>
***
> Os seguintes tratamentos foram realizados nos dados originais:
> 1. Foram eliminados os registros onde a <b>Renda</b> era inválida (999 999 999 999);
> 2. Foram eliminados os registros onde a <b>Renda</b> era missing;
> 3. Foram considerados somente os registros das <b>Pessoas de Referência</b> de cada domicílio (responsável pelo domicílio).

### R (informações básicas)

In [1]:
sessionInfo()

R version 4.0.3 (2020-10-10)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.5 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas/libblas.so.3
LAPACK: /usr/lib/x86_64-linux-gnu/libopenblasp-r0.2.20.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

loaded via a namespace (and not attached):
 [1] compiler_4.0.3  ellipsis_0.3.1  IRdisplay_0.7.0 pbdZMQ_0.3-3.1
 [5] tools_4.0.3     htmltools_0.5.0 pillar_1.4.7    base64enc_0.1-3
 [9] crayon_1.3.4    uuid_0.1-4      IRkernel_1.1.1  jsonlite_1.7.1
[13] digest_0.6.27   lifecycle_0.2.0 repr_1.1.0      rlang_0.4.9
[17] evaluate_0.14

### Importando bibliotecas 
#### A bilioteca dplyr
https://www.rdocumentation.org/packages/dplyr

In [9]:
library(dplyr)

### <font color=red>Documentações:

- [**select**](https://www.rdocumentation.org/packages/dplyr/versions/0.7.8/topics/select)
- [**arrange**](https://www.rdocumentation.org/packages/dplyr/versions/0.7.8/topics/arrange)
- [**read.csv**](https://www.rdocumentation.org/packages/utils/versions/3.6.1/topics/read.table)
- [**head**](https://www.rdocumentation.org/packages/utils/versions/3.6.1/topics/head)

### Acessando a ajuda

In [3]:
?select

In [5]:
?arrange

---
### Importando o dataset do projeto

In [10]:
dados <- read.csv("dados.csv")

In [11]:
dados

      UF Sexo Idade Cor Anos.de.Estudo Renda Altura
1     11 0    23    8   12              800  1.603808
2     11 1    23    2   12             1150  1.739790
3     11 1    35    8   15              880  1.760444
4     11 0    46    2    6             3500  1.783158
5     11 1    47    8    9              150  1.690631
6     11 1    34    8   12              790  1.637906
7     11 0    57    8   12             3150  1.570078
8     11 1    60    8   12             1700  1.608495
9     11 1    50    4   14             1800  1.780329
10    11 0    26    8   12             1150  1.793203
11    11 1    46    8   12             3000  1.787003
12    11 1    49    8    6             2500  1.712912
13    11 1    52    2    6             1200  1.736442
14    11 0    38    8   12             2000  1.750827
15    11 0    45    2   12             2000  1.780450
16    11 0    34    2   16             6000  1.711825
17    11 1    43    8   10             1050  1.789012
18    11 0    53    8   16             7000  1.673665
19    11 0    57    2   12             2000  1.715138
20    11 1    62    8   12             1150  1.765973
21    11 0    69    8    1             3030  1.746351
22    11 1    41    8   16             4000  1.660873
23    11 0    34    8    5              788  1.746048
24    11 0    25    8   12             1000  1.726496
25    11 0    33    8    9              800  1.778914
26    11 1    44    8    5              788  1.668638
27    11 0    33    2   16             1600  1.783771
28    11 0    65    2   12             1700  1.873445
29    11 0    33    8   14             2000  1.890250
30    11 0    32    8   12             2400  1.660204
⋮     ⋮  ⋮    ⋮     ⋮   ⋮              ⋮     ⋮
76811 53 0    34    4   12              2500 1.802241
76812 53 1    57    2   11              1000 1.823047
76813 53 1    32    4   12               788 1.681405
76814 53 0    35    4    9              2100 1.671112
76815 53 1    49    8   12              5260 1.799319
76816 53 0    51    8    1              5000 1.599400
76817 53 0    37    8   12               950 1.620497
76818 53 0    47    8   12              1109 1.920274
76819 53 0    27    8   10               850 1.793074
76820 53 1    49    8    9               788 1.695710
76821 53 1    27    8   12               866 1.729035
76822 53 0    20    2    8              1300 1.660409
76823 53 0    49    8   12              8700 1.775182
76824 53 0    43    8   10              5000 1.584493
76825 53 0    64    2   12              5000 1.717452
76826 53 0    55    2   16             13000 1.729995
76827 53 0    39    2   12              6000 1.739046
76828 53 1    41    2   16             10000 1.696208
76829 53 0    62    2   16             10000 1.817097
76830 53 0    42    8   12             32000 1.788923
76831 53 0    62    2   16              3500 1.725379
76832 53 1    44    2   16             30000 1.783962
76833 53 1    49    2   12              5000 1.757146
76834 53 0    30    4    6              1900 1.662560
76835 53 1    35    4    1              1100 1.741089
76836 53 1    46    2   11               812 1.687030
76837 53 0    30    4    7              1500 1.792934
76838 53 0    32    8   12              1300 1.830587
76839 53 0    57    8    4              1500 1.726344
76840 53 0    38    8    4               900 1.658305

In [12]:
head(dados,5)

  UF Sexo Idade Cor Anos.de.Estudo Renda Altura
1 11 0    23    8   12              800  1.603808
2 11 1    23    2   12             1150  1.739790
3 11 1    35    8   15              880  1.760444
4 11 0    46    2    6             3500  1.783158
5 11 1    47    8    9              150  1.690631

## <font color=green>1.2 Tipos de dados</font>
***

### Variáveis qualitativas ordinais

► Variáveis que podem ser ordenadas ou hierarquizardas

### <font color=red>Documentações:

- [**select**](https://www.rdocumentation.org/packages/dplyr/versions/0.7.8/topics/select)
- [**unique**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/unique)
- [**arrange**](https://www.rdocumentation.org/packages/dplyr/versions/0.7.8/topics/arrange)
- [**c**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/c)
- [**sprintf**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/sprintf)
- [**glue**](https://www.rdocumentation.org/packages/glue/versions/1.3.1/topics/glue)
- [**min e max**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/Extremes)

In [13]:
head(dados)

  UF Sexo Idade Cor Anos.de.Estudo Renda Altura
1 11 0    23    8   12              800  1.603808
2 11 1    23    2   12             1150  1.739790
3 11 1    35    8   15              880  1.760444
4 11 0    46    2    6             3500  1.783158
5 11 1    47    8    9              150  1.690631
6 11 1    34    8   12              790  1.637906

In [15]:
select(dados,Anos.de.Estudo)

      Anos.de.Estudo
1     12
2     12
3     15
4      6
5      9
6     12
7     12
8     12
9     14
10    12
11    12
12     6
13     6
14    12
15    12
16    16
17    10
18    16
19    12
20    12
21     1
22    16
23     5
24    12
25     9
26     5
27    16
28    12
29    14
30    12
⋮     ⋮
76811 12
76812 11
76813 12
76814  9
76815 12
76816  1
76817 12
76818 12
76819 10
76820  9
76821 12
76822  8
76823 12
76824 10
76825 12
76826 16
76827 12
76828 16
76829 16
76830 12
76831 16
76832 16
76833 12
76834  6
76835  1
76836 11
76837  7
76838 12
76839  4
76840  4

In [16]:
unique(select(dados,Anos.de.Estudo))

    Anos.de.Estudo
1   12
3   15
4    6
5    9
9   14
16  16
17  10
21   1
23   5
37   7
38   3
44   2
50   4
51   8
63  11
75  17
161 13

In [17]:
arrange(unique(select(dados,Anos.de.Estudo)),Anos.de.Estudo)

   Anos.de.Estudo
1   1
2   2
3   3
4   4
5   5
6   6
7   7
8   8
9   9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17

In [19]:
#Variáveis que podem ser ordenadas ou hierarquizardas
c(arrange(unique(select(dados,Anos.de.Estudo)),Anos.de.Estudo))

$Anos.de.Estudo
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17

### Variáveis qualitativas nominais

► Variáveis que não podem ser ordenadas ou hierarquizardas

In [20]:
c(arrange(unique(select(dados,UF)),UF))

$UF
 [1] 11 12 13 14 15 16 17 21 22 23 24 25 26 27 28 29 31 32 33 35 41 42 43 50 51
[26] 52 53

In [21]:
c(arrange(unique(select(dados,Sexo)),Sexo))

$Sexo
[1] 0 1

In [22]:
c(arrange(unique(select(dados,Cor)),Cor))

$Cor
[1] 0 2 4 6 8

### Variáveis quantitativas discretas

► Variáveis que representam uma contagem onde os valores possíveis formam um conjunto finito ou enumerável.

In [25]:
#Cocatenar informações o %s será inserida uma variavel que esta depoisda virgula  e assim por diante
sprintf('De %s até %s anos', min(dados$Idade), max(dados$Idade))

[1] "De 13 até 99 anos"

In [26]:
#interbolação de  string
library(glue)

Attaching package: ‘glue’


The following object is masked from ‘package:dplyr’:

    collapse

In [27]:
#mesma coisa de fazer porem temos que importar uma biblioteca antes library(glue)
glue('De{min(dados$Idade)}s até {max(dados$Idade)} anos')

De13s até 99 anos

#### <font color='red'>Observação</font>
***
> A variável idade pode ser classificada de três formas distintas:
> 1. <b>QUANTITATIVA DISCRETA</b> - quando representa anos completos (números inteiros);
> 2. <b>QUANTITATIVA CONTÍNUA</b> - quando representa a idade exata, sendo representado por frações de anos; e
> 3. <b>QUALITATIVA ORDINAL</b> - quando representa faixas de idade.

### Variáveis quantitativas contínuas

► Variáveis que representam uma contagem ou mensuração que assumem valores em uma escala contínua (números reais).

In [28]:
glue('De{min(dados$Altura)}s até {max(dados$Altura)} Metreos')

De1.339244614s até 2.028496765 Metreos

### Classificação de uma variável
<img src='https://caelum-online-public.s3.amazonaws.com/1177-estatistica-parte1/01/img001.png' width='70%'>

# <font color=green>2 DISTRIBUIÇÃO DE FREQUÊNCIAS</font>
***

O primeiro passo em um trabalho de análise é o conhecimento do comportamento das variáveis envolvidas no estudo. Utilizando técnicas estatísticas como as análises das <b>DISTRIBUIÇÕES DE FREQUÊNCIAS</b> e <b>HISTOGRAMAS</b> podemos avaliar melhor a forma como os fenômenos em estudo se distribuem.

## <font color=green>2.1 Distribuição de frequências para variáveis qualitativas</font>
***

### Método 1

### <font color=red>Documentações:

- [**table**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/table)
- [**prop.table**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/prop.table)
- [**cbind**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/cbind)
- [**row+colnames**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/row%2Bcolnames)

In [ ]:
c('Frequência', 'Porcentagem (%)')

In [ ]:
c('Masculino', 'Feminino')

### Método 2

### <font color=red>Documentações:

- [**tapply**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/tapply)

In [ ]:
c('Masculino', 'Feminino')
c('Indígena', 'Branca', 'Preta', 'Amarela', 'Parda')

In [ ]:
c('Masculino', 'Feminino')
c('Indígena', 'Branca', 'Preta', 'Amarela', 'Parda')

## <font color=green>2.2 Distribuição de frequências para variáveis quantitativas (classes personalizadas)</font>
***

### <font color=red>Documentações:

- [**cut**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/cut)
- [**order**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/order)
- [**row.names**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/row.names)

### Passo 1 - Especificar os limites de cada classe

Utilizar a seguinte classificação:

<b>A</b> ► Acima de 20 SM

<b>B</b> ► De 10 a 20 SM

<b>C</b> ► De 4 a 10 SM

<b>D</b> ► De 2 a 4 SM

<b>E</b> ► Até 2 SM

onde <b>SM</b> é o valor do salário mínimo na época. Em nosso caso <b>R$ 788,00</b> (2015):

<b>A</b> ► Acima de 15.760

<b>B</b> ► De 7.880 a 15.760

<b>C</b> ► De 3.152 a 7.880

<b>D</b> ► De 1.576 a 3.152

<b>E</b> ► Até 1.576

In [ ]:
classes <- c(0, 1576, 3152, 7880, 15760, 200000)

In [ ]:
labels <- c('E', 'D', 'C', 'B', 'A')

### Passo 2 - Criar a tabela de frequências

## <font color=green>2.3 Distribuição de frequências para variáveis quantitativas (classes de amplitude fixa)</font>
***

### <font color=red>Documentações:

- [**nrow**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/nrow)
- [**log**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/log)
- [**round**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/Round)

### Passo 1 - Definindo o número de classes

#### Regra de Sturges

# $$k = 1 + \frac {10}{3}\log_{10}n$$

### Passo 2 - Criar a tabela de frequências

In [ ]:
labels <- c(
    '      0.00 |—|  11,764.70', 
    ' 11,764.70  —|  23,529.40', 
    ' 23,529.40  —|  35,294.10', 
    ' 35,294.10  —|  47,058.80', 
    ' 47,058.80  —|  58,823.50', 
    ' 58,823.50  —|  70,588.20', 
    ' 70,588.20  —|  82,352.90', 
    ' 82,352.90  —|  94,117.60', 
    ' 94,117.60  —| 105,882.00', 
    '105,882.00  —| 117,647.00', 
    '117,647.00  —| 129,412.00', 
    '129,412.00  —| 141,176.00', 
    '141,176.00  —| 152,941.00', 
    '152,941.00  —| 164,706.00', 
    '164,706.00  —| 176,471.00', 
    '176,471.00  —| 188,235.00', 
    '188,235.00  —| 200,000.00'
)

## <font color=green>2.4 Histograma</font>
***

O <b>HISTOGRAMA</b> é a representação gráfica de uma distribuição de frequências. É um gráfico formado por um conjunto de retângulos colocados lado a lado, onde a área de cada retângulo é proporcional à frequência da classe que ele representa.

### <font color=red>Documentações:

- [***package* graphics**](https://www.rdocumentation.org/packages/graphics)
- [**hist**](https://www.rdocumentation.org/packages/graphics/versions/3.6.1/topics/hist)
- [***package* ggplot2**](https://www.rdocumentation.org/packages/ggplot2)
- [**data.frame**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/data.frame)

In [ ]:
hist(
    x = dados$Altura,
    breaks = 'Sturges',
    col = 'lightblue',
    main = 'Histograma das Alturas',
    xlab = 'Altura',
    ylab = 'Frequências',
    prob = TRUE,
    las = 1
)

In [ ]:
ggplot("#", aes(x = "#") + 
    geom_histogram(binwidth = 0.02, color = "black", alpha = 0.9) + 
    ylab("Frequência") + 
    xlab("Alturas") + 
    ggtitle('Histograma das Alturas') +
    theme(
        plot.title = element_text(size = 14, hjust = 0.5),
        axis.title.y = element_text(size = 12, vjust = +0.2),
        axis.title.x = element_text(size = 12, vjust = -0.2),
        axis.text.y = element_text(size = 10),
        axis.text.x = element_text(size = 10)
    )

In [ ]:
ggplot("#", aes(x = "#", y = "#")) + 
    geom_histogram(binwidth = 0.02, color = "black", alpha = 0.9) + 
    geom_density(color = 'green') +
    ylab("Frequência") + 
    xlab("Alturas") + 
    ggtitle('Histograma das Alturas') +
    formatos

In [ ]:
ggplot("#", aes(x = "#", y = "#")) + 
    geom_bar(stat = "identity") + 
    ylab("Frequência") + 
    xlab("Classes de Renda") + 
    ggtitle('Gráfico Classes de Renda') +
    formatos

# <font color=green>3 MEDIDAS DE TENDÊNCIA CENTRAL</font>
***

## DataFrame de exemplo

In [ ]:
materias <- c('Matemática', 'Português', 'Inglês', 'Geografia', 'História', 'Física', 'Química')
Fulano <- c(8, 10, 4, 8, 6, 10, 8)
Beltrano <- c(10, 2, 0.5, 1, 3, 9.5, 10)
Sicrano <- c(7.5, 8, 7, 8, 8, 8.5, 7)

## <font color=green>3.1 Média aritmética</font>
***

É representada por $\mu$ quando se refere à população e por $\bar{X}$ quando se refere à amostra

# $$\mu = \frac 1n\sum_{i=1}^{n}X_i$$

onde 

$n$ = número de observações (registros)

$X_i$ = valor da i-ésima observação (registro)

### <font color=red>Documentações:

- [**mean**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/mean)
- [**aggregate**](https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/aggregate)
- [**list**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/list)

## <font color=green>3.2 Mediana</font>
***

Para obtermos a mediana de uma conjunto de dados devemos proceder da seguinte maneira:
1. Ordenar o conjunto de dados;
2. Identificar o número de observações (registros) do conjunto de dados ($n$);
3. Identicar o elemento mediano:

> Quando $n$ for ímpar, a posição do elemento mediano será obtida da seguinte forma:


# $$Elemento_{Md} = \frac{n+1}2$$

> Quando $n$ for par, a posição do elemento mediano será obtida da seguinte forma:


# $$Elemento_{Md} = \frac{n}2$$

4. Obter a mediana:

> Quando $n$ for ímpar:


# $$Md = X_{Elemento_{Md}}$$

> Quando $n$ for par:


# $$Md = \frac{X_{Elemento_{Md}} + X_{Elemento_{Md}+1}}2$$
***

### <font color=red>Documentações:

- [**median**](https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/median)
- [**set.seed**](https://www.rdocumentation.org/packages/simEd/versions/1.0.3/topics/set.seed)
- [**sample**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/sample)

### Exemplo 1 - n ímpar

<img src='https://caelum-online-public.s3.amazonaws.com/1177-estatistica-parte1/01/img002.png' width='40%' style="float:left">

### Exemplo 2 - n par

<img src='https://caelum-online-public.s3.amazonaws.com/1177-estatistica-parte1/01/img003.png' width='50%' style="float:left">

### Obtendo uma amostra aleatória dos dados

### Obtendo a mediana em nosso dataset

## <font color=green>3.3 Moda</font>
***

Pode-se definir a moda como sendo o valor mais frequente de um conjunto de dados. A moda é bastante utilizada para dados qualitativos.

### <font color=red>Documentações:

- [**function**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/function)

### Obtendo a moda em nosso dataset

## <font color=green>3.4 Relação entre média, mediana e moda</font>
***

<img src='https://caelum-online-public.s3.amazonaws.com/1177-estatistica-parte1/01/img004.png' width='80%'>

### <font color=red>Documentações:
    
- [**as.numeric**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/numeric)

### Avaliando a variável RENDA

In [ ]:
ggplot(dados[dados$Renda < 20000, ], aes(x = Renda, y = ..density..)) + 
    geom_histogram(binwidth = 500) + 
    geom_density(color = 'green')

In [ ]:
moda <- as.numeric(Moda(dados$Renda))
moda

In [ ]:
mediana <- median(dados$Renda)
mediana

In [ ]:
media <- mean(dados$Renda)
media

***

### Avaliando a variável ALTURA

In [ ]:
ggplot(dados, aes(x = Altura, y = ..density..)) + 
    geom_histogram() + 
    geom_density(color = 'green')

In [ ]:
moda <- as.numeric(Moda(dados$Altura))
moda

In [ ]:
mediana <- median(dados$Altura)
mediana

In [ ]:
media <- mean(dados$Altura)
media

***

### Avaliando a variável ANOS DE ESTUDO

In [ ]:
ggplot(dados, aes(x = Anos.de.Estudo, y = ..density..)) + 
    geom_histogram() + 
    geom_density(color = 'green')

In [ ]:
moda <- as.numeric(Moda(dados$Anos.de.Estudo))
moda

In [ ]:
mediana <- median(dados$Anos.de.Estudo)
mediana

In [ ]:
media = mean(dados$Anos.de.Estudo)
media

# <font color=green>4 MEDIDAS SEPARATRIZES</font>
***

## <font color=green>4.1 Quartis, decis e percentis</font>
***

Há uma série de medidas de posição semelhantes na sua concepção à mediana, embora não sejam medidas de tendência central. Como se sabe, a mediana divide a distribuição em duas partes iguais quanto ao número de elementos de cada parte. Já os quartis permitem dividir a distribuição em quatro partes iguais quanto ao número de elementos de cada uma; os decis em dez partes e os centis em cem partes iguais.

### <font color=red>Documentações:

- [**quantile**](https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/quantile)
- [**for**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/Control)
- [**length**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/length)

In [ ]:
ggplot(data = "#", aes(x = "#")) + 
    geom_histogram(
        aes(y = "#"), 
        bins = 10
    ) + 
    geom_freqpoly(
        aes(y = "#"), 
        color = 'green'
    )

### Classificação percentual

## <font color=green>4.2 Box-plot</font>
***

O box plot dá uma idéia da posição, dispersão, assimetria, caudas e dados discrepantes (outliers). A posição central é dada pela mediana e a dispersão por $IIQ$. As posições relativas de $Q1$, $Mediana$ e $Q3$ dão uma noção da simetria da distribuição. Os comprimentos das cauda são dados pelas linhas que vão do retângulo aos valores remotos e pelos valores atípicos.

#### <font color=red>Documentações:

- [**geom_boxplot**](https://www.rdocumentation.org/packages/ggplot2/versions/3.2.1/topics/geom_boxplot)
- [**factor**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/factor)

<img src='https://caelum-online-public.s3.amazonaws.com/1177-estatistica-parte1/01/img005.png' width='65%'>

In [ ]:
sexo = c(
    'Masculino', 
    'Feminino'
)
cor = c(
    'Indígena', 
    'Branca', 
    'Preta', 
    'Amarela', 
    'Parda'
)
anos_de_estudo = c(
    'Sem instrução e menos de 1 ano', 
    '1 ano', 
    '2 anos', 
    '3 anos', 
    '4 anos', 
    '5 anos', 
    '6 anos', 
    '7 anos', 
    '8 anos', 
    '9 anos', 
    '10 anos', 
    '11 anos', 
    '12 anos', 
    '13 anos', 
    '14 anos', 
    '15 anos ou mais', 
    'Não determinados'
)

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = '#3274A1') + 
    coord_flip() +
    ylab("Metros") + 
    xlab("") + 
    ggtitle('Box-plot Alturas') +
    formatos

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#", group = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = c('#3274A1', "orange")) + 
    coord_flip() +
    ylab("Metros") + 
    xlab("Sexo") + 
    ggtitle('Box-plot Alturas X Sexo') +
    formatos

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = c('#3274A1', "orange")) + 
    coord_flip() +
    ylab("Metros") + 
    xlab("Sexo") + 
    ggtitle('Box-plot Alturas X Sexo') +
    formatos

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = '#3274A1') + 
    coord_flip() +
    ylab("R$") + 
    xlab("") + 
    ggtitle('Box-plot Renda') +
    formatos

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = c('#3274A1', "orange")) + 
    coord_flip() +
    ylab("R$") + 
    xlab("Sexo") + 
    ggtitle('Box-plot Renda X Sexo') +
    formatos

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = '#3274A1') + 
    coord_flip() +
    ylab("Anos") + 
    xlab("") + 
    ggtitle('Box-plot Anos de Estudo') +
    formatos

In [ ]:
ggplot(data = "#", aes(x = "#", y = "#")) + 
    stat_boxplot(geom ='errorbar', width = 0.4) + 
    geom_boxplot(fill = c('#3274A1', "orange")) + 
    coord_flip() +
    ylab("Anos") + 
    xlab("Sexo") + 
    ggtitle('Box-plot Anos de Estudo X Sexo') +
    formatos

<img src='https://caelum-online-public.s3.amazonaws.com/1177-estatistica-parte1/01/img006.png' width='80%'>

# <font color=green>5 MEDIDAS DE DISPERSÃO</font>
***

Embora as medidas de posição forneçam uma sumarização bastante importante dos dados, elas podem não ser suficientes para caracterizar conjuntos distintos, especialmente quando as observações de determinada distribuição apresentarem dados muito dispersos.

## <font color=green>5.1 Desvio médio absoluto</font>
***


# $$DM = \frac 1n\sum_{i=1}^{n}|X_i-\bar{X}|$$

### <font color=red>Documentações:

- [**sum**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/sum)
- [**abs**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/MathFun)
- [**DescTools**](https://www.rdocumentation.org/packages/DescTools/versions/0.99.30)
- [**MeanAD**](https://www.rdocumentation.org/packages/DescTools/versions/0.99.30/topics/MeanAD)

In [ ]:
ggplot(data = notas_fulano, aes(x = row.names(notas_fulano), y = Fulano)) + 
    geom_point() + 
    geom_hline(yintercept = mean(notas_fulano$Fulano), color = 'red') + 
    geom_segment(aes(x = 1, y = 10, xend = 1, yend = mean(notas_fulano$Fulano))) + 
    geom_segment(aes(x = 2, y = 8, xend = 2, yend = mean(notas_fulano$Fulano))) + 
    geom_segment(aes(x = 3, y = 6, xend = 3, yend = mean(notas_fulano$Fulano))) + 
    geom_segment(aes(x = 4, y = 4, xend = 4, yend = mean(notas_fulano$Fulano))) + 
    geom_segment(aes(x = 5, y = 8, xend = 5, yend = mean(notas_fulano$Fulano))) + 
    geom_segment(aes(x = 6, y = 10, xend = 6, yend = mean(notas_fulano$Fulano))) + 
    geom_segment(aes(x = 7, y = 8, xend = 7, yend = mean(notas_fulano$Fulano)))

### Instalando o pacote DescTools

## <font color=green>5.2 Variância</font>
***

### Variância

A variância é construída a partir das diferenças entre cada observação e a média dos dados, ou seja, o desvio em torno da média. No cálculo da variância, os desvios em torno da média são elevados ao quadrado.

### Variância populacional

# $$\sigma^2 = \frac 1n\sum_{i=1}^{n}(X_i-\mu)^2$$

### Variância amostral

# $$S^2 = \frac 1{n-1}\sum_{i=1}^{n}(X_i-\bar{X})^2$$

### <font color=red>Documentações:

- [**var**](https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/cor)

## <font color=green>5.3 Desvio padrão</font>
***

Uma das restrições da variância é o fato de fornecer medidas em quadrados das unidades originais - a variância de medidas de comprimento, por exemplo, é em unidades de área. Logo, o fato de as unidades serem diferentes dificulta a comparação da dispersão com as variáveis que a definem. Um modo de eliminar essa dificuldade é considerar sua raiz quadrada.

### Desvio padrão populacional

# $$\sigma = \sqrt{\frac 1n\sum_{i=1}^{n}(X_i-\mu)^2} \Longrightarrow \sigma = \sqrt{\sigma^2}$$

### Desvio padrão amostral

# $$S = \sqrt{\frac 1{n-1}\sum_{i=1}^{n}(X_i-\bar{X})^2} \Longrightarrow S = \sqrt{S^2}$$

### <font color=red>Documentações:

- [**sd**](https://www.rdocumentation.org/packages/stats/versions/3.6.1/topics/sd)
- [**summary**](https://www.rdocumentation.org/packages/base/versions/3.6.1/topics/summary)